@page "/videopage"

    <style>
        body {
            background-image: url('images/SfondoClasifications.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: top center;
            background-attachment: fixed;
            background-color: black; 
            min-height: 100vh; 
        }
    </style>

    <style>
        .TitleVideo {
            text-align: center;
            color: gold;
            font-family: 'Cinzel', serif;
            font-weight: 700;
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
            margin: 2rem 0;
        }

        .subtitleVideo {
            text-align: center;
            color: ghostwhite;
            font-family: 'Cinzel', serif;
            font-weight: 80;
            font-size: 3rem; /* circa 48px */
            text-transform: uppercase;
            letter-spacing: 4px;
        }

    </style>

    <p class="TitleVideo">Video</p>

    <style>
        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0px;
            width: 900px; /* larghezza massima media */
            overflow: hidden;
            margin: 40px auto; /* centra il contenitore */
            background: #000;
            border: 3px solid gold; /* optional: bordo dorato */
            border-radius: 10px; /* angoli arrotondati */
            box-shadow: 0 0 15px rgba(255, 215, 0, 0.5); /* glow leggero */
        }

            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; /* riempie il contenitore */
                height: 100%; /* mantiene proporzioni */
                display: block;
            }

    </style>

    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/FxDkoGhdFZc?si=SyFrD8CRXVihDT1R" 
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>

     <div class="subtitleVideo">
        <p style="text-align: center; color: white;">
            Special video of my best 20 mods!
        </p>
     </div>