@inherits LayoutComponentBase


<div style="text-align: center;">
    <img src="images/Heroic853Icon.png" width="150" height="150">
</div>


<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <div class="page">
        <main>
            <button class="menu-button" @onclick="ToggleMenu">☰</button>
            <div class="content">
                @Body
            </div>

             <style>
                  .menu-bottom-buttons {
                    display: flex;
                    justify-content: space-between; /* i due bottoni ai lati */
                    gap: 10px;
                    padding: 20px;
                    margin-top: auto;
                  }

                .menu-btn {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 10px;
                    font-family: 'Cinzel', serif;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                    background: #8b0000;
                    text-align: center;
                    transition: all 0.3s;
                }

                    .menu-btn:hover {
                        background: #ff0000;
                        box-shadow: 0 0 15px rgba(255,0,0,0.7);
                    }
             </style>

        </main>

        @if (menuOpen)
        {
            <div class="menu-destro">
                <button class="close-button" @onclick="ToggleMenu"></button>
                <img src="images/Heroic853Icon.png" width="200" height="200">
                <ul>
                    <li><a href="/">Introduction</a></li>
                    <li><a href="/MessageOfGratitude">Message of Gratitude</a></li>
                    <li><a href="/videopage">Video</a></li>
                    <li><a href="/dragonList">Monster Choise & Feedbacks</a></li>
                    <li><a href="/forbiddenMonsters">Forbidden Monsters</a></li>
                    <li><a href="/aniversarytable">Admin Data Table</a></li>
                    <li><a href="/UserTable">Users</a></li>
                </ul>

                <div class="menu-bottom-buttons">
                    <a class="menu-btn login-btn" href="existingHunter?Param2=Blazzing&Param2=Blazor">Login</a>
                    <a class="menu-btn register-btn" href="newHunter?Param1=Blazzing&Param2=Blazor">Create</a>
                </div>
            </div>
        }
    </div>
    

    <p style="text-align: center; color: white;">
        ©Heroic853 2025
    </p>

    @code {
        bool menuOpen = false;

        void ToggleMenu()
        {
            menuOpen = !menuOpen;
        }
    }
</div>
